@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Playfair+Display:400,700i,700,900&display=swap');

$josefin: 'Josefin Sans', sans-serif;
$playfair:'Playfair Display', serif;

$yellow:#F0F063;
$white:#fff;
$black:#000;
$grey:#7E7E7E;
$transparent:transparent;

@mixin h1 {
    font-family: $playfair;
    font-size: 120px;
    color: $white;
    letter-spacing: 10px;
    text-align: center;
    line-height:100px;
    font-weight: 700;
    width: 40%;
}

@mixin h2 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    position: relative;
    margin:0;
    &:after {
            content: "";
            background-color: $yellow;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            right: 20px;
            border: 0;
            display: inline-block;
            left: calc(50% + 90px);
            padding: 0;
            position: absolute;
            top: -5px;
            width: 10px;
    }
}

@mixin h3 {
    font-family: $playfair;
    color: $black;
    text-align: center;
    line-height: 56px;
    font-size: 48px;
    letter-spacing: 0px;
}

@mixin h4 {
    font-family: $josefin;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 2px;
    color: $black;
    text-align: center;
}

@mixin navLinks {
    font-family: $josefin;
    font-size: 16px;
    color: $white;
    letter-spacing: 2px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $white;
        transform-origin: bottom left;
        transform: scaleX(0);
        transition: 0.5s ease;
    }
    &:hover {
        text-decoration: unset;
        color: $black;
        font-weight: 900;
        &:before {
            transform-origin: bottom left;
            transform: scaleX(1);
            background-color: black;
        }
    }
}

@mixin borderButton {
    display: flex;
    align-items:center;
    min-height: 20px;
    padding:5px;
    @include navLinks;
    background-color: $transparent;
    border: 2px solid $white;
    box-sizing: content-box;
    line-height: 15px;
    &:before {
        content: unset;
    }
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.nav-wrapper {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:60px 0;
    font-family: $josefin;
    .nav-col {
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            h2 a {
                @include h2;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &:nth-child(2) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                padding: 0;
                margin-bottom:0;
                li {
                    list-style-type:none;
                    a {
                        margin: 0 10px;
                        @include navLinks;
                        &.active {
                            color: $black;
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            display: flex;
            justify-content: flex-start;
            a {
                @include borderButton;
                transition: 0.2s;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                &:hover {
                    padding:15px 10px;
                    color: $white;
                }
            }
        }
    }
}

header {
    min-height: 100vh;
    background-image: url('./././placeholderbg.jpg');
    background-size: cover;
    background-position: 100% 0%;
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        visibility: hidden;
        // hiding until he wants to include this part
        h4 {
            font-size: 20px;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        h1 {
            @include h1;
            margin-bottom:50px;
        }
        a {
            @include borderButton;
            padding: 10px;
            transition: 0.5s;
            &:hover {
                padding: 15px;
                display: flex;
                justify-content: center;
                color: $white;
            }
        }
    }
}

.social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 10%;
    transform: translateY(-100%);
    padding: 0 70px;
    .left {
        display: flex;
        justify-content: flex-start;
        p {
            @include navLinks;
            margin:0 0 0 40px;
            &:before {
                content: "";
                position: absolute;
                background: $white;
                width: 60px;
                height: 3px;
                transform: translate(-120%);
                top: 40%;
                left: 0;
            }
            &:hover {
                color: $white;
                &:before {
                    background: $white;
                    width:100%;
                    height: 2px;

                }
            }
        }
    }
    .right {
        display: flex;
        justify-content: flex-end;
        a {
            margin: 0 20px;
            color: $white;
            font-size: 20px;
        }
    }
}

.carousel.slide {
    .carousel-control-next {
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
    .carousel-item {
        min-height: 400px;
        .carousel-caption {
            padding: 0;
            top: 30%;
            h3 {
                @include h3;
                width: 70%;
                margin: 20px auto;
                font-weight: 900;
                font-size: 40px;
                line-height: 50px;
            }
            p {
                font-size: 18px;
                line-height:28px;
                color: $black;
                font-weight: 900;
                font-family: $josefin;
                text-transform: capitalize;
                span {
                    font-size: 14px;
                    line-height:24px;
                    color: $grey;
                    font-weight: 100;
                    font-family: $playfair;
                    letter-spacing: 0.55px;
                    font-style: italic;
                    text-transform: capitalize;
                }
            }
            .star-rating {
                margin: 10px auto;
                .solid-star, .empty-star {
                    width: 15px;
                }
            }
        }
        .quote-icon {
            width:30px;
            position: absolute;
            top: 17%;
            left: 50%;
            transform: translate(-50%);
        }
    }
}